*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "yekan";
}

.header{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 700px;
  max-height: 700px;
  background-image: url(../../assets/image/header-img.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
}

.header-course{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 110px;
  max-height: 110px;
  background-image: url(../../assets/image/header-img.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size:cover;
  
}