@font-face {
  font-family: yekan;
  src: url("..//font/yekan-font/Yekan.eot");
  src: url("../font/yekan-font/yekan-regular.eot") format("Yekan-opentype"),
    url("../font/yekan-font/yekan-regular.woff") format("woff"),
    url("../font/yekan-font/yekan-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "yekan";
}
body {
  background-color: #242532;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
#top-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 460px;
  max-height: 460px;
  background-image: url(/assets/image/header-img.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#header {
  background-color: rgba(40, 41, 56, 0.6);
  width: 100%;
  min-height: 32px;
  max-height: 32px;
}
#navbar {
  width: 100%;
  min-height: 62px;
  max-height: 62px;
  border-bottom: 1px solid #696a76;
}
#search-box {
  width: 100%;
  min-height: 240px;
  max-height: 240px;
}
#main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin:4em 0;

}
.courses-container{
  margin:1em 1em;
  width: 100%;
  max-width: 1200px; 
  display: grid;
  grid-template-columns: auto auto auto auto;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5em 1em;
  padding: .5em;
}

@media screen and (max-width:575px){
  #navbar {
    display: none;
  }
  #header {
    min-height: 55px;
    max-height: 55px;
    background-color: transparent;
    border-bottom: 1px solid #696a76;
  }
  .courses-container{
    grid-template-columns: auto;
  }
  
}
@media screen and (max-width: 850px) and (min-width:575px) {
  #navbar {
    display: none;
  }
  #header {
    min-height: 55px;
    max-height: 55px;
    background-color: transparent;
    border-bottom: 1px solid #696a76;
  }
  .courses-container{
    grid-template-columns: auto auto ;
  }

}

@media screen and (max-width:1100px)and (min-width:850px) {

  .courses-container{
    grid-template-columns: auto auto auto ;
  }
  
}

