* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --gray: #686e71;
}
.container {
  width: 100%;
  margin: 2rem 0;
  box-shadow: 0 10px 15px -2px rgb(0 0 0 / 0.1),
    0 -5px 15px -4px rgb(0 0 0 / 0.1);
  border-radius: 5px;
  padding: 1rem;
  border: 1px solid #dddddd;
}
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.3rem;
}

.comment-input {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.8rem;
  border-bottom: 1px solid #eeeeee;
}

#textarea {
  width: 70%;
  height: 200px;
  background-color: #dddddd;
  color: #666666;
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  font-family: "samim";
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4;
  transition: all 0.2s;
}
#textarea:hover {
  cursor: pointer;
  background-color: #eeeeee;
}
#textarea:focus {
  cursor: text;
  color: #333333;
  background-color: #fff;
  border: 2px solid #333333;
}
#comment-submit {
  width: 100px;
  padding: 0.4rem;
  border-radius: 5px;
  background: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
  transition: opacity 0.2s ease-in-out;
  margin-bottom: 0.5rem;
}
#comment-submit:hover {
  cursor: pointer;
  opacity: 0.85;
}
.header span {
  margin-right: 1rem;
  align-self: flex-start;
  font-size: 1.1rem;
}
.comment-box {
  border: 2px solid rgb(223, 217, 217);
  padding: 0.5rem;
  border-radius: 5px;
  margin: 1rem 0;
  position: relative;
}
.comment-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.2rem 1rem;
}

.comment-header #name {
  margin-left: 1rem;
  border-left: 1px solid #e9e2e2;
  padding-left: 1rem;
}
.comment-header #date {
  color: var(--gray);
  margin-left: 0.5rem;
  font-size: 0.9rem;
}
.comment-header #reply {
  margin-right: auto;
  padding: 0.1rem 0.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(to right, rgb(255, 65, 108), rgb(255, 75, 43));
  transition: transform 0.2s ease-in-out;
  font-family: "samim";
}
.comment-header #reply:hover {
  transform: scale(1.05);
}
.comment-header #reply.deactive {
  background: gray;
  cursor: default;
  transform: scale(1);
}
.desc-container {
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}
.popup {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.2rem;
  width: 70%;
  height: 100px;
}
.popup textarea {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0.2rem;
}
.popup button {
  padding: 0.1rem 0.5rem;
  margin: 0 0.5rem 0 0;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
}

.popup .modal-submit {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(0, 93, 133) 0%,
    rgb(0, 181, 149) 90%
  );
  font-family: "samim";
}

.popup .modal-cancle {
  background: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
  font-family: "samim";
}
