@font-face {
  font-family: 'samim';
  src: url("../font/yekan-font/Samim-FD.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "samim";
}
.main {
  background-color: rgb(249, 250, 251);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: rgb(243, 244, 246);
  display: flex;
  align-items: center;
  padding: 1.2em;
  border-radius: 1em;
  max-width: 48em;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.img-box {
  display: none;
  width: 50%;
}
.img {
  border-radius: 1rem;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.login-box {
  text-align: right;
  padding: 0 4em;
}
.login-box h2 {
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 2em;
  color: rgb(0, 45, 116);
}

form {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

#email {
  font-size: 1rem;
  padding: 0.5em;
  border-radius: 0.75em;
  margin-top: 2em;
  border: 1px solid #eee;
}
.pass-container{
  width: 100%;
  position: relative;
}
#password {
  width: 100%;
  font-size: 1rem;
  padding: 0.5em;
  border-radius: 0.75em;
  border: 1px solid #eee;
}
.fa-eye {
  position: absolute;
  top: 16px;
  right: 7px;
  font-size: 1rem;
  color: #5c5959;
  cursor: pointer;
}
.fa-eye-slash {
  position: absolute;
  top: 16px;
  right: 7px;
  font-size: 1rem;
  color: #5c5959;
  cursor: pointer;
}
#submit {
  transition: 0.2s all ease-in-out;
  color: #fff;
  padding: 0.5em 0;
  background-color: rgb(0, 45, 116);
  font-size: 1rem;
  border-radius: 0.75em;
  margin-top: 0.5em;
  cursor: pointer;
  border: none;
}
.btn:hover {
  transform: scale(1.05);
}
.line {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-items: center;
  margin-top: 2em;
}
.line hr {
  border: 1px solid #bbb;
  width: 100%;
}
.line p {
  font-size: 0.8rem;
  line-height: 1.25rem;
  text-align: center;
  color: #bbb;
}
.google-login {
  transition: 0.2s all ease-in-out;
  font-size: 0.9rem;
  line-height: 1.5em;
  padding: 0.5em 0;
  background-color: #fff;
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1.5em;
  cursor: pointer;
  border: 1px solid #ccc;
}

.forget-pass {
  font-size: 0.8rem;
  line-height: 1rem;
  margin: 1.5em 0;
  padding: 1em 0;
  border-bottom: 2px solid #bbb;
}
.reg-container {
  font-size: 0.8rem;
  line-height: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5em 0;
}
.reg-container button {
  transition: 0.3s all ease-in-out;
  padding: 0.25em 0.75em;
  background-color: rgb(0, 45, 116);
  border-radius: 0.75em;
  cursor: pointer;
  border: none;
}

.reg-container button a {
  color: #fff;
  font-size: 0.8rem;
  text-decoration: none;
}

.border-red {
  border: 2px solid rgb(248 113 113) !important
}

.modal{
  font-size: .9rem;
  color: red;
  display: none;
  margin: -15px 5px 0 0;
}
.modal-pass{
  margin-top: .2em;
}

@media screen and (min-width: 768px) {
  .img-box {
    display: block;
  }
  .login-box {
    width: 50%;
  }
}
::-webkit-input-placeholder {
  text-align: center;
  font-size: 0.95rem;
}
:-moz-placeholder {
  text-align: center;
}
