@font-face {
  font-family: yekan;
  src: url("..//font/yekan-font/Yekan.eot");
  src: url("../font/yekan-font/yekan-regular.eot") format("Yekan-opentype"),
    url("../font/yekan-font/yekan-regular.woff") format("woff"),
    url("../font/yekan-font/yekan-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "yekan";
  direction: rtl;
}
body {
  background-color: #fdfdfd;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 4em 0;
}

.courses-container {
  margin: 1em 1em;
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5em 1em;
  padding: 0.5em;
}
#footer {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 150px;
  max-height: 150px;
  background-color: #2c2d3d;
}

@media screen and (max-width: 575px) {
  .courses-container {
    grid-template-columns: auto;
  }
}
@media screen and (max-width: 850px) and (min-width: 575px) {
  .courses-container {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 1100px) and (min-width: 850px) {
  .courses-container {
    grid-template-columns: auto auto auto;
  }
}
