@tailwind base;
@tailwind components;
@tailwind utilities;

.table-container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
 
}


.table-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  visibility: hidden;
}
.table-container:hover::-webkit-scrollbar-track{
  visibility: visible;
}
.table-container::-webkit-scrollbar-thumb {
  background-color: #0004;
  border-radius: 10px;
  visibility: hidden;
}
.table-container:hover::-webkit-scrollbar-thumb {
visibility: visible;
}
