*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'yekan';
}
.top-bar{
    font-size: .9rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 10px;
    
}
.social-media{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 28%;
    height: 90%;
    color: #fff;    
}
.quick-acc{
    width: 30%;
    height: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.quick-acc > ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    width: 100%;
}

 .item{
   color: #ffffffcc;
   text-decoration: none;
   transition: .2s all;
 }
 .item:hover{
    color: #fff;
 }
.social-media .icon{
    color: #fff;
    margin: 0 .2em;
 }
 .mobile-head .icon{
    color: #fff;
    font-size: 1.5rem;
    margin: 0 .1em;
 }

.mobile-head{
    display: none;
}
#logo{

    width: 70px;
    height: 10%;
}

 @media screen and (max-width:850px) {

    .top-bar{
        display: none;
    }
    .mobile-head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: .5em .8em;
    }
 }
