* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
}
.course {
 flex: 1;
  min-height: 320px;
  max-height: 320px;
  border-radius: 8px;
  border: 1px solid rgb(209, 207, 207);
  background-color: #ffffff;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.image-course-wrapper {
  width: 100%;
  height: 170px;
}
.img-course {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}
.link {
  width: 100%;
  height: 170px;
  display: block;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0.7rem 0.5rem;
  padding: 0.2rem;
}

.course-title {
  color: #000000;
  height: 25px;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
  overflow-y:hidden;
  /* align-self: center; */
}
.course-title:hover {
  color: #55c3d6;
}
.teacher-container {
  width: 100%;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(221, 217, 217);
}
.teacher-container i {
  color: #aaaaaa;
  font-size: 0.8rem;
}
.course-teacher {
  color: #778286;
  text-decoration: none;
  margin-right: 0.3rem;
  font-size: 0.9rem;
  transition: color 0.3s ease-in-out;
}
.course-teacher:hover {
  color: #4eaf21;
}
.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}
.duration-container {
  position: relative;
  color: #55c3d6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}
#course-duration {
  margin-right: 0.4rem;
  font-size: 1rem !important;
  font-weight: bold;
}
.price-container {
  color: #4eaf21;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  margin: 0;
}
#price {
  font-weight: bold;
}
.price-container span:last-child {
  font-size: 0.8rem;
  margin-right: 0.1rem;
}
