* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "yekan";
}
#masthead {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}
.logo-img {
  width: 5%;
  min-width: 90px;
  height: 50%;
}
.logo-img a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}
.logo-img img {
  width: 70px;
}
#menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  margin-right: 0.5em;
}
#menu ul {
  list-style-type: none;
  display: flex;
  gap: 1.2em;
}

.item-menu a {
  text-decoration: none;
  color: #fff;
  position: relative;
}
.item-menu a::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgb(91, 228, 121);
  width: 100%;
  height: 2px;
  transition: 0.3s ease-in-out;
  transform:scale(0);
}
.item-menu a:hover::after {
  transform: scale(1);
}
.left-menu {
  width: 22%;
  min-width: 250px;
  margin-right: auto;
}
.left-menu ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  list-style-type: none;
}
.left-menu ul a {
  color: #fff;
}
.left-menu ul a:hover {
    color: rgba(255, 255, 255,.8);
  }
#search-input {
  border: 0;
  outline: none;
  flex: 1;
  background: transparent;
  border-radius: 50px;
  direction: rtl;
  color: #fff;
  padding: 0.2em;
  font-size: 1rem;
}
#search-input::placeholder {
  text-align: right;
  color: #fff;
  padding-right: 0.2em;
}
#search-input::-webkit-search-cancel-button {
  display: none;
}
.search-menu {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 2px 4px;
}
.search-menu button {
  border: 0;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: transparent;
  color: #fff;
  margin-left: 5px;
}
.search-menu button i {
  font-size: 1.2rem;
}
